{% extends "shop/base.html" %}
{% block content %}
<div class="row-fluid">
  <div class="well">
    <h1>Pago y Envío</h1>
  </div>
</div>

<div class="container-fluid">
  <form method="POST">
    {% csrf_token %}
<div class="row-fluid">

    <div class="span4 offset2">
      <h3>Dirección de envío.</h3>
      {{ shipping_address.as_p }}
    </div>
    {% comment %}
      
    
    <div class="span4">
      <h3>Dirección del pago.</h3>
      {{ billing_address.as_p }}
    </div>
    {% endcomment %}
    <div class="span4">
      <h3>Métodos de pago y envío.</h3>
      {{ billing_shipping_form.as_p }}
      
      <h3>Informacón extra.</h3>
      {{ extra_info_form.as_p }}
  
    </div>
</div>


<div class="row-fluid">
  <div class="span8 offset2">
    <input type="submit" class="btn btn-block btn-large" value="Enviar">
  </div>
</div>
</form>
</div>
{% endblock %}