import url ("http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C400%2C300%2C700&ver=1.0");

body {
font-family: 'Open Sans', sans-serif;
background: none repeat scroll 0 0 #F4F4F4;
}
.menu  {
    background: #323539;
    -webkit-box-shadow: rgba(255,255,255,0.08) 0px 1px 0px inset;
    box-shadow: rgba(255,255,255,0.08) 0px 1px 0px inset;
	text-align:center;
	width:100%;
/*	background-color: #171A1A;*/
   
}
.menu > div {
	height:140px;
}

.padding-logo {
text-align: center;
}
#logo {
	height: 120px;
}

.nav {
  position: relative;
  margin: 20px 0;
}

.nav ul {
  margin: 0;
  padding: 0;

}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}
.nav a:hover {
  color: #19B69E;
}
.nav .current a {
 
}

/* right nav */
.nav.right ul {
  text-align: right;
}

/* center nav */
.nav.center ul {
  text-align: center;
}

.nav li.menu {
  display:none;

}




.site-nav > li > a {
    color: #A5B1B1;
     -moz-box-sizing: border-box;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 700;
 
    padding: 0 30px;
    text-transform: uppercase;
}


.site-nav > li > a  span {

 vertical-align: middle;
    
      display: inline-block;
    min-height: 15px;
    margin-top: 62px;
}
.site-nav > li > a:hover {
  color: 3px solid #19B69E;
}


@media screen and (max-width: 600px) {

  .nav ul {
    
    padding: 5px 0;
  
    background:  no-repeat 10px 11px;
   
  }

  .nav li.menu {
    display:block;

   }
  .nav .current {
    display: block; /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
  
  }

  /* on nav hover */
  
  .nav > ul > li > a  span {
    margin-top:20px;
    margin-bottom:20px;
  }

  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .nav ul {
    margin-left:auto;
    margin-right:auto;
  
    
  }


 
}

#sli {

min-height: 0px;
}

.carousel {
    margin-bottom:0px;

}
#myslider .item  img{
    height: 300px;
   
    margin-left:auto;
    margin-right: auto;
}
.gray {
	background: none repeat scroll 0 0 #9FA5A6;
    overflow: hidden;
    width: 100%;
}
.graycontainer {
background: none repeat scroll 0 0 #9FA5A6;
    
}
.grayless {
	width: 100%;
	overflow: hidden;
     background: none repeat scroll 0 0 #E3E3E3;
     padding-top:30px;
}
.morelessgray{
   	width: 100%;
	overflow: hidden;
    background: none repeat scroll 0 0 #F4F4F4;
 
}

.colormorelessgray{

    background: none repeat scroll 0 0 #F4F4F4;
}

.medium-product {
	margin:20px;
	height:350px;
    margin-bottom:50px;
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-sizing: border-box;
    padding: 20px;
    text-align: center;    

}
.medium-product img {

    height: 340px;
}
.medium-product p{

    margin-top:30px;
}



.product {
	margin:20px;
	height:380px;
     background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-sizing: border-box;
    padding: 20px;
    text-align: center;    
}
.product img {
  
    height: 240px;

}
.product span.cost {
    background: #19b69e;
    padding: 15px;
}
.wel-small {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.dark {
    color: #808992;

    font-size:13px;
    line-height: 20px;
    font-weight: normal;
    background: #323539;
    -webkit-box-shadow: rgba(255,255,255,0.08) 0px 1px 0px inset;
    box-shadow: rgba(255,255,255,0.08) 0px 1px 0px inset;


}

.dark div div {
    margin:80px;
}


.manufacture-list {

    margin:20px;
    height:170px;
     background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-sizing: border-box;
    padding: 20px;
    text-align: center;  
}

.manufacture-list img {
    min-height:128px;

}


.product-list {

    margin:20px;
    height:330px;
     background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-sizing: border-box;
    padding: 20px;
    text-align: center;  
}

.product-list img {
    height:300px;

}

.product-list .name {
    width:100%;
    padding-bottom:10px;
}

.noleftmargin {
    margin-left:0px;
}

.square {

    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-sizing: border-box;
    margin-top: 40px;
    text-align: center;  

}

.spacedown {
    margin-bottom:40px;

}

.spaceup {

margin-top: 40px;

}

.main-image {
    text-align: center;

}
.main-image img {
    margin-right: auto;
    margin-left: auto;
    min-height:300px;

}

.no-space [class*="span"] {
    margin-left: 0;
}

.no-space {
    margin-left:0;
}


.control-group label {
    font-size: 16px;

}
.center {
    text-align: center;

}

.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#maincontent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;


}

.alpha60 {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(0, 0, 0) transparent;
/* RGBa with 0.6 opacity */
background: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}