{% extends "shop/base.html" %}
{% load i18n thumbnail %}
{% block content %}
  
  <div class="container-fluid graycontainer">
    <div class="well"><h1>{{object.name}}</h1></div>
    <div class="row-fluid">
      {% for object in object_list %}      
      <div class="span3"  {%if forloop.counter0|divisibleby:"4"%} style="margin-left:0px;" {%endif%}>
        <div class="product-list">
          <div class="name">
            <a href="{% url 'product_detail' object.slug %}">
              <b>{{object.get_name}}</b>
            </a>
          </div>
          <a href="{% url 'product_detail' object.slug %}">
              <img src="{% thumbnail object.image 300x400 %}">
          </a>
          <div class="clearfix"></div>
          <span class="palette palette-firm-dark">$ {{object.unit_price}} MXN</span>
        </div>
      </div>
      
      {% endfor %}
   
    </div>
  
</div>
</div>

{% endblock %}